/* estilos para el body */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

.fondo {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: radial-gradient( circle 328px at 2.9% 15%, rgba(191, 224, 251, 1) 0%, rgba(232, 233, 251, 1) 25.8%, rgba(252, 239, 250, 1) 50.8%, rgba(234, 251, 251, 1) 77.6%, rgba(240, 251, 244, 1) 100.7%);
}


/* titulo de inicio de sesion */

.titulo {
    text-align: center;
}


/* contenedor del formulario */


/* Estilos para el formulario de inicio de sesion */

.formLogin .inicioSesion {
    margin: 30px;
    padding: 0;
    text-align: center;
    font-size: 40px;
}

.inicioSesion {
    text-align: center;
    margin: 0;
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.button {
    background: rgb(219 68 55);
    color: #fff;
    display: inline-block;
    font-size: 1.25em;
    margin: 7px;
    padding: 10px 0;
    text-align: center;
    width: 430px;
    text-decoration: none;
    box-shadow: 0px 3px 0 #bd1a1a;
    cursor: pointer;
    border-radius: 50px;
}

.buttonFacebook {
    background: #3b5998;
    color: #fff;
    display: inline-block;
    font-size: 1.20em;
    margin: 5px;
    padding: 10px 0px;
    text-align: center;
    width: 420px;
    text-decoration: none;
    box-shadow: 0px 3px 0 #0509ff;
    cursor: pointer;
    border-radius: 50px;
}

.buttonFacebook span {
    margin: 15px;
}

.button span {
    margin: 15px;
}

.buttonGoogle span {
    margin: 18px;
}

.textoO {
    text-align: center;
}

.buttonContinuar {
    background: #d5d8d8;
    display: inline-block;
    font-size: 1.25em;
    margin: 7px;
    padding: 10px 0;
    text-align: center;
    width: 430px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 50px;
}

.centrado {
    margin-top: 18px;
    font-size: 15px;
    margin-left: 124px;
}


/* ESTILOS PARA EL REGISTRO */

.form {
    width: 500px;
    margin: auto;
    background: rgba(236, 234, 234, 0.4);
    padding: 10px 20px;
    margin-top: 30px;
    border-radius: 50px;
    height: 480px;
    border: 1px solid black;
    box-shadow: 0px 0px 20px #77778b;
}

h2 {
    text-align: center;
    margin: 0;
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.input {
    width: 90%;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 12px;
    padding: 7px;
    font-size: 20px;
}

.buttonRegistrar {
    background: #d5d8d8;
    display: inline-block;
    font-size: 1.25em;
    margin: 7px;
    padding: 10px 0;
    text-align: center;
    width: 430px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 50px;
}

.form input[type="text"],
.form input[type="password"] {
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    height: 40px;
    font-size: 16px;
}

.buttonGoogle {
    background: rgb(219 68 55);
    color: #fff;
    display: inline-block;
    font-size: 1.25em;
    margin: 7px;
    padding: 10px 0;
    text-align: center;
    width: 430px;
    text-decoration: none;
    box-shadow: 0px 3px 0 #bd1a1a;
    cursor: pointer;
    border-radius: 50px;
}

.centrado2 {
    margin-top: 33px;
    font-size: 15px;
    margin-left: 124px;
}

@media (max-width: 480px) {
    .form {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .buttonRegistrar {
        display: inline-block;
        font-size: 1.5em;
        margin: 7px;
        padding: 10px 0;
        text-align: center;
        width: 320px;
        cursor: pointer;
        border-radius: 50px;
    }
    .buttonContinuar {
        display: inline-block;
        font-size: 1.2em;
        margin: 7px;
        padding: 10px 0;
        text-align: center;
        width: 320px;
        cursor: pointer;
        border-radius: 50px;
    }
    .buttonFacebook {
        display: inline-block;
        font-size: 18px;
        margin: 7px;
        padding: 10px 0;
        text-align: center;
        width: 320px;
        cursor: pointer;
        border-radius: 50px;
    }
    .form {
        width: 400px;
        margin: auto;
        background: rgba(236, 234, 234, 0.4);
        padding: 10px 20px;
        margin-top: 30px;
        border-radius: 50px;
        height: 480px;
        border: 1px solid black;
        box-shadow: 0px 0px 20px #77778b;
    }
    .buttonGoogle {
        background: rgb(219 68 55);
        color: #fff;
        display: inline-block;
        font-size: 18px;
        margin: 7px;
        padding: 10px 0;
        text-align: center;
        width: 320px;
        text-decoration: none;
        box-shadow: 0px 3px 0 #bd1a1a;
        cursor: pointer;
        border-radius: 50px;
    }
    .centrado2 {
        margin-left: 70px;
    }
    .centrado {
        margin-left: 70px;
    }
}

@media (max-width: 460px) {
    .buttonRegistrar {
        display: inline-block;
        font-size: 1.5em;
        margin: 7px;
        padding: 10px 0;
        text-align: center;
        width: 270px;
        cursor: pointer;
        border-radius: 50px;
    }
    .buttonContinuar {
        display: inline-block;
        font-size: 1.5em;
        margin: 7px;
        padding: 10px 0;
        text-align: center;
        width: 270px;
        cursor: pointer;
        border-radius: 50px;
    }
    .form {
        width: 350px;
        margin: auto;
        background: rgba(236, 234, 234, 0.4);
        padding: 10px 20px;
        margin-top: 30px;
        border-radius: 50px;
        height: 480px;
        border: 1px solid black;
        box-shadow: 0px 0px 20px #77778b;
    }
    .buttonGoogle {
        background: rgb(219 68 55);
        color: #fff;
        display: inline-block;
        font-size: 1.25em;
        margin: 7px 10px;
        padding: 10px 0;
        text-align: center;
        width: 270px;
        text-decoration: none;
        box-shadow: 0px 3px 0 #bd1a1a;
        cursor: pointer;
        border-radius: 50px;
    }
    .buttonFacebook {
        background: #3b5998;
        color: #fff;
        display: inline-block;
        font-size: 1.25em;
        margin: 7px 10px;
        padding: 10px 0;
        text-align: center;
        width: 270px;
        text-decoration: none;
        box-shadow: 0px 3px 0 #0509ff;
        cursor: pointer;
        border-radius: 50px;
    }
    .centrado2 {
        margin-left: 50px;
    }
    .centrado {
        margin-left: 50px;
    }
}


/* Estilos para el layout */

.bd-grid {
    display: grid;
    grid-template-columns: 100%;
    max-width: 1200px;
    margin-left: 1rem;
    margin-right: 1rem;
    align-items: center;
}

.home {
    height: calc(100vh);
}

.home__data {
    padding-top: 2rem;
    text-align: center;
}

.home__title {
    margin-bottom: .5rempx;
    color: rgb(223, 12, 12);
    font-size: 55px;
    font-family: 'Lato', sans-serif;
    font-weight: 700px;
}

.marvel-title {
    font-size: 35px;
    margin-bottom: 40px;
    font-family: 'Lato', sans-serif;
}

.home__name {
    display: block;
    margin-bottom: 1.5rem;
    font-size: 1rem;
}

.home__img {
    padding: 2rem;
}

.image {
    height: 380px;
    width: 350px;
    margin-left: 50px;
}

.paragraph {
    font-family: 'Lato', sans-serif;
}


/* media queries */

@media screen and (min-width: 768px) {
    body {
        margin: 0;
    }
    .home {
        height: 100vh;
        grid-template-columns: repeat(2, 1fr);
    }
    .home__data {
        padding: 0;
        text-align: initial;
    }
}

@media screen and (min-width: 1200px) {
    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }
}


/* Estilos para el post */

.card {
    width: 300px;
    /* border: 2px solid black; */
    margin-top: 10px;
    margin-left: 30px;
    height: 150px;
}

.form-control {
    width: 180px;
    margin-left: 60px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.form-control2 {
    width: 180px;
    margin-left: 60px;
    margin-top: 2px;
    height: 60px;
}

.box-save {
    margin-left: 110px;
    margin-top: 8px;
}

.btn-guardar {
    border-radius: 5px;
    display: inline-block;
    padding: 8px 15px;
    background: rgb(175, 107, 221);
    color: cornsilk;
}


/*-------------- ESTILOS DE LOS POST EDITAR Y BORRAR--------------------- */

.post {
    border: 1px solid black;
    height: 90px;
    width: 280px;
    box-shadow: 21px 17px 24px 4px rgba(211, 206, 206, 0.72);
    margin-left: 45px;
    margin-bottom: 15px;
    padding: 10px;
}

.box-btn {
    margin-top: -15px;
    margin-left: 45px;
    border: 1px solid black;
    margin-bottom: 15px;
    width: 280px;
    background: rgb(255, 255, 255);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 10px;
}

.btn-Editar,
.btn-Borrar {
    border-radius: 5px;
    display: inline-block;
    padding: 8px 15px;
    background: rgb(28, 206, 197);
    color: cornsilk;
    border: none;
}


/* Estilos para el boton Like */

.like__btn {
    padding: 8px 15px;
    background: rgb(255, 6, 6);
    color: white;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}